@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow: scroll;
    overflow-x: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

#phone-main img {
    position: fixed;
    height: 55%;
    bottom: 4%;
    right: 4%;
	z-index:5;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.cursor {
	height: 20px;
	width: 20px;
	/*background-color: #f00;*/
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	z-index: 1000;
	pointer-events: none;      
  }

.notifications {
	position:fixed;
	top: 20px;
	right: 20px;
	z-index: -1000;
}
.notification-iphone {
	width: 350px;
	min-height: 60px;
	height: auto;
	border-radius: 15px;
	margin-bottom:10px;
}
.notification-iphone-title-area {
	height: 30px;
	width: 100%;
	float:left;
	background-color:rgba(214, 214, 214,0.8);
}
.notification-iphone-title-icon {
	width: 10%;
	height:100%;
	float:left;
}
.notification-iphone-title-icon img {
	width: 60%;
	height: 65%;
	margin: 6px;
	margin-left:8px;
}
.notification-iphone-title-text {
	width: 75%;
	height:100%;
	float:left;
}
.notification-iphone-title-text p {
	margin: 6px;
	font-size: 14px;
	font-family: 'Source Sans Pro', sans-serif;
	color:rgb(135, 135, 135);
}
.notification-iphone-title-time {
	width: 15%;
	height:100%;
	float:right;
	text-align:center;
}
.notification-iphone-title-time p {
	margin: 7px;
	font-size: 12px;
	color: rgb(158, 158, 158);
}
.notification-iphone-info {
	width: 100%;
	height: 50%;
	background-color:rgba(240, 240, 240,0.6);
	padding: 10px;
}
.notification-iphone-info p {
	margin: 0px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:15px;
}