@import url( 'https://fonts.googleapis.com/css?family=Roboto' );

#actionmenu {
    position: absolute;
    left: 28%; 
    top: 40%;
	width: 380px !important;
}

#actionmenu button {
    background-color: rgb(0, 3, 7); 
    border-radius: 6px;
    border: 1px solid rgb(24, 1, 155);
    color: rgb(255, 255, 255); 
    font-family: 'Roboto', sans-serif;
    padding: 10px 24px; 
    margin: 0px 0px 8px 0px;
    cursor: pointer; 
    width: 50%; 
    display: block; 
    text-transform: uppercase;
}

.double {
	width: 45% !important;
	margin-right: 5px !important;
	float:left;
}
.doublelarge {
	width: 100% !important;
}


#actionmenu button:hover {
    background-color: rgba(44, 44, 44, 0.705); ;
    border: 1px solid #3d61ff;
}